<a href="https://colab.research.google.com/github/mladbago/podstawy_sztucznej_inteligencji/blob/main/Z05_C_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Regresja

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import cross_val_predict
from sklearn import datasets, linear_model
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn import model_selection
from sklearn import  metrics
from statsmodels.formula.api import ols

Rozważmy zbiór Boston

In [2]:
import pandas as pd
import numpy as np


data_url = "http://lib.stat.cmu.edu/datasets/boston"
raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
target = raw_df.values[1::2, 2]
#target = raw_df.values[1::2, 2]
feature_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT']

In [3]:
# print(boston.keys())
# print(boston.data.shape)
# print(boston.feature_names)
bos=pd.DataFrame(data)
bos.head()

bos.columns = feature_names
bos.head()

# print(boston.target[0:5])
bos['PRICE']=target
bos.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [4]:
# get the data
boston_X = data
boston_Y = target

# Split the data into training/testing sets
boston_X_train = boston_X[:-50]
boston_X_test = boston_X[-50:]
 
# Split the targets into training/testing sets
boston_y_train = boston_Y[:-50]
boston_y_test = boston_Y[-50:]

In [5]:
bos=pd.DataFrame(data[:-50])
bos.columns = feature_names
bos['PRICE']=target[:-50]
bos.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [6]:
bos1=pd.DataFrame(boston_X[-50:])
bos1.columns = feature_names
bos1['PRICE']=target[-50:]
bos1.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,4.66883,0.0,18.1,0.0,0.713,5.976,87.9,2.5806,24.0,666.0,20.2,10.48,19.01,12.7
1,8.20058,0.0,18.1,0.0,0.713,5.936,80.3,2.7792,24.0,666.0,20.2,3.50,16.94,13.5
2,7.75223,0.0,18.1,0.0,0.713,6.301,83.7,2.7831,24.0,666.0,20.2,272.21,16.23,14.9
3,6.80117,0.0,18.1,0.0,0.713,6.081,84.4,2.7175,24.0,666.0,20.2,396.90,14.70,20.0
4,4.81213,0.0,18.1,0.0,0.713,6.701,90.0,2.5975,24.0,666.0,20.2,255.23,16.42,16.4

In [7]:
model = ols("PRICE ~ I(CRIM)", bos).fit()
# Print the summary
print((model.summary2()))

                 Results: Ordinary least squares
==================================================================
Model:              OLS              Adj. R-squared:     0.155
Dependent Variable: PRICE            AIC:                3271.6219
Date:               2023-04-19 16:18 BIC:                3279.8669
No. Observations:   456              Log-Likelihood:     -1633.8
Df Model:           1                F-statistic:        84.65
Df Residuals:       454              Prob (F-statistic): 1.30e-18
R-squared:          0.157            Scale:              76.123
-------------------------------------------------------------------
                Coef.   Std.Err.     t     P>|t|    [0.025   0.975]
-------------------------------------------------------------------
Intercept      24.4313    0.4395  55.5870  0.0000  23.5676  25.2951
I(CRIM)        -0.4202    0.0457  -9.2008  0.0000  -0.5100  -0.3305
------------------------------------------------------------------
Omnibus:             117.949       Durbin-Watson:          0.726
Prob(Omnibus):       0.000         Jarque-Bera (JB):       226.399
Skew:                1.446         Prob(JB):               0.000
Kurtosis:            4.884         Condition No.:          10
==================================================================

In [8]:
from sklearn import  metrics
metrics.r2_score(bos.PRICE, model.predict(bos))

0.15715876242331706

In [9]:
from sklearn import  metrics
metrics.r2_score(bos1.PRICE, model.predict(bos1))

-0.8973506326938194